<?xml version='1.0' encoding='utf-8'?>
<widget id="com.onlineceo.ugzipcodes" version="1.6.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
   
    <name>Uganda Zip Codes</name>

    <description>
        Find any Ugandan area Zip Code from this app with an easy search filter and fast copy zip code function
    </description>

    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>

    <icon src="icon.png" />

    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="icon.png" />
    
    <preference name="android-targetSdkVersion" value="32" />

    <plugin name="cordova-plugin-x-toast" source="npm" spec="2.7.3" />
    <plugin name="cordova-plugin-x-socialsharing" source="npm" spec="6.0.4" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" spec="5.0.0" />

</widget>
